@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td  {margin:0;padding:0;}
body,button,input,select,textarea{ font-family: arial;}
h1,h2,h3,h4,h5,h6,p,b{font-size:100%; font-weight: normal; line-height: 1;}
i,address,cite,dfn,em,var,b{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ul,ol{list-style:none;}
a{text-decoration:none; color: inherit}
a:hover{text-decoration:none;color: inherit}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
*{outline: none; padding: 0;margin: 0;}
html{ font-size: 20px;}

$size2: 0.1rem;
$size4: 0.2rem;
$size5: 0.25rem;
$size6: 0.3rem;
$size8: 0.4rem;
$size10: 0.5rem;
$size12: 0.6rem;
$size14: 0.7rem;
$size15: 0.75rem;
$size16: 0.8rem;
$size18: 0.9rem;
$size20: 1rem;
$size22: 1.1rem;
$size24: 1.2rem;
$size25: 1.25rem;
$size26: 1.3rem;
$size28: 1.4rem;
$size30: 1.5rem;
$size32: 1.6rem;
$size34: 1.7rem;
$size35: 1.75rem;
$size36: 1.8rem;
$size38: 1.9rem;
$size40: 2rem;
$size44: 2.2rem;
$size46: 2.3rem;
$size48: 2.4rem;
$size50: 2.5rem;
$size54: 2.7rem;
$size60: 3rem;
$size62: 3.1rem;
$size64: 3.2rem;
$size66: 3.3rem;
$size76: 3.8rem;
$size80: 4rem;
$size86: 4.3rem;
$size88: 4.4rem;
$size90: 4.5rem;

$colorBlack:#090d05;
$colorGray:#7b7e82;
$colorGray2:#9b9b9b;
$colorGray3:#d2d2d4;
$colorGreen:#19ad19;
$colorGreen2:#9fe75a;/*聊天文字背景绿色*/

$colorBg:#f0eff5;/*详细资料背景*/
$colorBg2:#ebebeb;/*聊天背景*/

$borderGray:#e2e2e2;

body{ font-size: 0.7rem; color: #090d05;}

.centerLeft {
  position:absolute; left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);}
.centerTop{
  position:absolute; top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);}
.centerMid{
  position:absolute; top: 50%; left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);}
.bgImg{
  /*background-image:url(images/bg33.jpg);*/
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* 加号弹窗*/
.addPopover{position: absolute!important; min-width: $size90!important; top:$size40!important;right:$size5; background: #38383d!important; margin-top: $size20; padding: $size5 $size12!important;
  .popper__arrow::after {
    border-bottom-color: #38383d!important;
  }
  ul{
    li{ color: #fff; border-bottom: 1px solid #7b7e82; line-height: 1; padding: 10px 0; text-align: left;
      &:last-child{ border-bottom: none;}
      svg{ margin-right: 10px;}
    }
  }
}
.addIcon.el-popover__reference{ position: absolute; right: $size10; font-size: $size18;}

/*main.vue 搜索框*/
.searchBoxEldialog{
  .el-dialog__header{ padding: 0;
    .el-dialog__headerbtn {
      position: absolute;
      top: $size8;
      right: $size8;
      padding: 0;
      background: 0 0;
      border: none;
      outline: 0;
      cursor: pointer;
      font-size: $size16;
    }
  }
  .el-dialog__body{ padding: 0 0 $size30 0!important; background-color: #fff; border-radius: $size4;
    .dialogContent{
      h2{ text-align: center; background-color: #d9d9d9; line-height: 2.3; border-radius: $size4 $size4 0 0;}
      .searchInput{ width: 92%; margin: $size20 4%;}
      .unsearched{ text-align: center; color: darkorange;
        i{ margin-right: $size8;}
      }
      ul{ margin: 0 4%;
        li{
          .contactsInfo{ height: $size50; position: relative;
            span{ display: block;}
            .avatarImg{ height: $size50; width: $size50; position: absolute; top: 0; left: 0; border-radius: $size4}
            .contacts{ padding-left: $size60;
              h1{ font-size: $size15;}
              p{ font-size: $size14; margin-top: $size8; color: $colorGray2;}
            }
          }
        }

      }
    }
  }
}

/*personal.vue 添加好友验证信息弹窗*/
.addSendMsg{ background-color: #efeff4;
  .el-dialog__header{ display: none;}
  .el-dialog__body{padding: 0!important;
    .content{
      .addSenHeader{position: relative; top: 0; left: 0; width: 100%; z-index: 2; color:#fff; background-color: #38383d; height: $size44; line-height: $size44; font-size: $size18; text-align: center;
        i{ position: absolute; left: $size10; top: 0; font-size: $size18;}
        b{ position: absolute; right: $size10; top: 0; font-size: $size14; line-height: $size44;}
      }
      h1{ margin: $size15 $size10 $size10 $size15;}
      .sendText{border-top: $borderGray 1px solid; border-bottom: $borderGray 1px solid; padding: 0 $size15;
        input{border: none; width: 100%; height: $size44; background-color: #fff;}
      }
    }
  }
}
