@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre,
form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font-family: arial; }

h1, h2, h3, h4, h5, h6, p, b {
  font-size: 100%;
  font-weight: normal;
  line-height: 1; }

i, address, cite, dfn, em, var, b {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: courier new,courier,monospace; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none;
  padding: 0;
  margin: 0; }

html {
  font-size: 20px; }

/*聊天文字背景绿色*/
/*详细资料背景*/
/*聊天背景*/
body {
  font-size: 0.7rem;
  color: #090d05; }

.centerLeft {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.centerTop {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.centerMid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.bgImg {
  /*background-image:url(images/bg33.jpg);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/*main.vue*/
.searchBoxEldialog .el-dialog {
  background-color: transparent; }
  .searchBoxEldialog .el-dialog .el-dialog__header {
    padding: 0; }
    .searchBoxEldialog .el-dialog .el-dialog__header .el-dialog__headerbtn {
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      padding: 0;
      background: 0 0;
      border: none;
      outline: 0;
      cursor: pointer;
      font-size: 0.8rem; }
  .searchBoxEldialog .el-dialog .el-dialog__body {
    padding: 0;
    background-color: #fff;
    border-radius: 0.2rem; }
    .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent {
      padding-bottom: 1.5rem; }
      .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent h2 {
        text-align: center;
        background-color: #d9d9d9;
        line-height: 2.3;
        border-radius: 0.2rem 0.2rem 0 0; }
      .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent .searchInput {
        width: 92%;
        margin: 1rem 4%; }
      .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent .unsearched {
        text-align: center;
        color: darkorange; }
        .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent .unsearched i {
          margin-right: 0.4rem; }
      .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li {
        padding: 0.5rem 0 0.5rem 0.5rem; }
        .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li .contactsInfo {
          height: 2.5rem;
          position: relative; }
          .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li .contactsInfo span {
            display: block; }
          .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li .contactsInfo .avatarImg {
            height: 2.5rem;
            width: 2.5rem;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0.2rem; }
          .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li .contactsInfo .contacts {
            padding-left: 3rem; }
            .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li .contactsInfo .contacts h1 {
              font-size: 0.75rem; }
            .searchBoxEldialog .el-dialog .el-dialog__body .dialogContent ul li .contactsInfo .contacts p {
              font-size: 0.7rem;
              margin-top: 0.4rem;
              color: #9b9b9b; }

/*# sourceMappingURL=config.css.map */
