$size2: 0.1rem;
$size4: 0.2rem;
$size5: 0.25rem;
$size6: 0.3rem;
$size8: 0.4rem;
$size10: 0.5rem;
$size12: 0.6rem;
$size14: 0.7rem;
$size15: 0.75rem;
$size16: 0.8rem;
$size18: 0.9rem;
$size20: 1rem;
$size22: 1.1rem;
$size24: 1.2rem;
$size25: 1.25rem;
$size26: 1.3rem;
$size28: 1.4rem;
$size30: 1.5rem;
$size32: 1.6rem;
$size34: 1.7rem;
$size35: 1.75rem;
$size36: 1.8rem;
$size38: 1.9rem;
$size40: 2rem;
$size44: 2.2rem;
$size46: 2.3rem;
$size48: 2.4rem;
$size50: 2.5rem;
$size54: 2.7rem;
$size60: 3rem;
$size62: 3.1rem;
$size64: 3.2rem;
$size66: 3.3rem;
$size76: 3.8rem;
$size80: 4rem;
$size86: 4.3rem;
$size88: 4.4rem;

$colorBlack:#090d05;
$colorGray:#7b7e82;
$colorGray2:#9b9b9b;
$colorGray3:#d2d2d4;
$colorGreen:#19ad19;
$colorGreen2:#9fe75a;/*聊天文字背景绿色*/

$colorBg:#f0eff5;/*详细资料背景*/
$colorBg2:#ebebeb;/*聊天背景*/

$borderGray:#e2e2e2;

